.waveFooter {
    background-image: linear-gradient(to bottom, #8a264f 20%, #343a40 100%) !important;
}

.subscribe-email {
    border-color: transparent !important;
    border-bottom: 1px solid white !important;
    padding: 2px;
    padding-bottom: 0.1rem;
    background-color: transparent !important;
    color: white !important;
}

.subscribe-email::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

.subscribe-email:focus {
    border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}