.password-reset-form {
    border: 1px solid rgb(233, 233, 233);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 15px #f5f5f5;
    width: 90%
}

.password-reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
