.ui.comments .comment .avatar img{
    border-radius: 2rem;
}

.ui.comments .comment .actions .edit-btn:hover{
    cursor: pointer;
    display: inline-block;
    margin: 0 .75em 0 0;
    color: teal;
}

.ui.comments .comment .actions .delete-btn{
    color: rgb(255, 81, 81);
}
.ui.comments .comment .actions .delete-btn:hover{
    color: red;
    font-size: 14px;
    font-weight: bold;
}

.reply-avatar {
    height: 2rem !important;
    width: 2rem!important;
}

.label-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.edit-reply-button {
    color: rgb(103, 4, 58) !important;
}

.edit-reply-button:hover {
    color: rgb(187, 5, 105) !important;
    text-decoration: underline;
}

.update-button {
    color: white !important;
    background-color: #b44c70 !important;
    border: 1px solid #b8597b !important;
}

.update-button:hover {
    color: white !important;
    background-color: #852647 !important;
    border: 1px solid #852647 !important;
    
}

