.create-reimbursement-button {
    color: white !important;
    background-color: #b44c70 !important;
    border: 1px solid #b8597b !important;
}

.create-reimbursement-button:hover {
    color: white !important;
    background-color: #852647 !important;
    border: 1px solid #852647 !important;
    
}