.card_columns {
    column-count: 1;
}

@media (min-width:767px) {
    .card_columns {
        column-count: 2;
    }
}

@media (min-width:1000px) {
    .card_columns {
        column-count: 3;
    }
}

.card_shadow {
    margin: 1rem;
    margin-left: 0;
    box-shadow: 1px 1px 5px #e9e9e9;
}

.card_shadow:hover {
    box-shadow: 1px 1px 10px #e3e3e3;
}