.auth-modal {
    background: rgba(0, 0, 0, 0.3);
}
.auth-button {
    color: #8a2a4c !important;
    background-color: transparent !important;
    border: 1px solid #b8597b !important;
}
.auth-button:hover {
    color: white !important;
    background-color: #b44c70 !important;
}

.auth-btn-link {
    border: 0;
    background: 0;
    color: #8a2a4c;
}

.auth-btn-link:hover {
    color: #d7a100;
    text-decoration: underline;
}

.modal-content {
    border-radius: 10px;
}

.modal-content .modal-header {
    color: white;
    background-color: #8a2a4c;
    background-image: linear-gradient(to right, #bb456e 5%, #671135 100%);;
    border-radius: 9px 9px 0px 0px;
}
.close,
.close:hover {
    color: white
}