.ui.comments .comment .avatar img{
    border-radius: 2rem;
}

.ui.comments .comment .actions .edit-btn:hover{
    cursor: pointer;
    display: inline-block;
    margin: 0 .75em 0 0;
    color: teal;
}

.ui.comments .comment .actions .delete-btn{
    color: rgb(255, 81, 81);
}
.ui.comments .comment .actions .delete-btn:hover{
    color: red;
    font-size: 14px;
    font-weight: bold;
}

.post-reply-btn {
    background-color: transparent;
    color: #7cb147;
    border: none;
    cursor: pointer;
    display: inline;
    margin: 2px;
    padding: 0;
    font-size: 18px;
}

.post-reply-btn:hover{
    color: green;
    font-weight: bold;
}

.delete-reply-btn{
    background-color: transparent;
    color: salmon;
    border: none;
    cursor: pointer;
    display: inline;
    margin: 2px;
    padding: 0;
    font-size: 18px;
}
.delete-reply-btn:hover{
    color: red;
    font-weight: bold;
}

.add-comment-button {
    color: white !important;
    background-color: #b44c70 !important;
    border: 1px solid #b8597b !important;
}

.add-comment-button:hover {
    color: white !important;
    background-color: #852647 !important;
    border: 1px solid #852647 !important;
    
}

.update-comment-button {
    color: white !important;
    background-color: #b44c70 !important;
    border: 1px solid #b8597b !important;
}

.update-comment-button:hover {
    color: white !important;
    background-color: #852647 !important;
    border: 1px solid #852647 !important;
    
}
